{% extends "accounts/base.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block title %} Admin Dashboard {% endblock title %}
<!--  -->
{% block pageheader %} Dashboard {% endblock pageheader %}
<!--  -->
{% block content %}
<div class="row ">
    <div class="col-xl-12 col-md-12 ">
        <div class="white_card card_height_100 mb_30 user_crm_wrapper">
            <div class="row mb-3">
                <div class="col-lg-3">
                    <div class="single_crm">
                        <div class="crm_head d-flex align-items-center justify-content-between">
                            <div class="thumb">
                                <img src="{% static '/img/crm/businessman.svg' %}" alt="">
                            </div>
                            <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                        </div>
                        <div class="crm_body">
                            <h4>{{total_books}}</h4>
                            <p>Library Books</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_crm ">
                        <div class="crm_head crm_bg_1 d-flex align-items-center justify-content-between">
                            <div class="thumb">
                                <img src="img/crm/customer.svg" alt="">
                            </div>
                            <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                        </div>
                        <div class="crm_body">
                            <h4>{{borrowed_books}}</h4>
                            <p>Number Borrowed</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_crm">
                        <div class="crm_head crm_bg_2 d-flex align-items-center justify-content-between">
                            <div class="thumb">
                                <img src="img/crm/infographic.svg" alt="">
                            </div>
                            <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                        </div>
                        <div class="crm_body">
                            <h4>{{no_returned_books}}</h4>
                            <p>Not Returned</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="single_crm">
                        <div class="crm_head crm_bg_3 d-flex align-items-center justify-content-between">
                            <div class="thumb">
                                <img src="img/crm/sqr.svg" alt="">
                            </div>
                            <i class="fas fa-ellipsis-h f_s_11 white_text"></i>
                        </div>
                        <div class="crm_body">
                            <h4>{{total_shelves}}</h4>
                            <p>Library Shelves</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="crm_reports_bnner mb-4">
                <div class="row justify-content-end ">
                    <div class="col-lg-6">
                        <h4>Books And Users</h4>
                        <p>Follow the link to add new books to the library or view all users of the system.</p>
                        <div class="row">
                            <div class="col-4">
                                <a href="{% url 'library:shelves' %}">Create Shelve<i class="fas fa-arrow-right"></i> </a>
                            </div>
                            <div class="col-4">
                                <a href="{% url 'library:add_book' %}">Add New Books<i class="fas fa-arrow-right"></i> </a>
                            </div>
                            <div class="col-4">
                                <a href="{% url 'accounts:view_student' %}">System Users<i class="fas fa-arrow-right"></i> </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="white_card card_height_100 mb_20 ">
                    <div class="white_card_header">
                        <div class="box_header m-0">
                            <div class="main-title">
                                <h3 class="m-0">New Books</h3>
                            </div>
                            <div class="header_more_tool">
                                <div class="dropdown">
                                    <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                                <i class="ti-more-alt"></i>
                                </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="white_card_body QA_section min_height_oveflow">
                        <div class="QA_table ">
                            <table class="table lms_table_active2 p-0">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Book Title</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">shelve</th>
                                        <th scope="col">Author</th>
                                        <th scope="col">Publisher</th>
                                        <th scope="col">No.In Stock</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for book in books %}
                                    <tr>
                                        <td class="f_s_12 f_w_400 color_text_6">{{forloop.counter}}</td>
                                        <td class="f_s_12 f_w_400 color_text_7">{{book.title}}</td>
                                        <td>
                                            <div class="customer d-flex align-items-center">
                                                <div class="thumb_34 mr_15 mt-0"><img class="img-fluid radius_80" src="{{book.image.url}}" alt="image not loaded"></div>
                                            </div>
                                        </td>
                                        <td class="f_s_12 f_w_400 color_text_6">{{book.shelve.shelve_name}}</td>
                                        <td class="f_s_12 f_w_400 color_text_6">{{book.author}}</td>
                                        <td class="f_s_12 f_w_400 color_text_6">{{book.pub_by}}</td>
                                        <td class="f_s_12 f_w_400 color_text_6">{{book.number_in_stock}}</td>
                                        <td class="f_s_12 f_w_400 text-center">

                                            {% if book.issue_book %}
                                            <span class="btn-outline-danger">Borrowed</span>
                                            <!--  -->
                                            {% elif book.book_returned %}
                                            <span class="btn-outline-info">Returned</span>
                                            <!--  -->
                                            {% else %}
                                            <span class="btn-outline-success">New</span> {% endif %}
                                        </td>
                                        <td class="f_s_12 f_w_400 text-center header_more_tool">
                                            <div class="dropdown">
                                                <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
                                            <i class="ti-more-alt"></i>
                                            </span>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" href="{% url 'library:book_details' book_id=book.id %}"> <i class="ti-eye"></i> View</a>
                                                    <a class="dropdown-item" href="{% url 'library:delete_book' book_id=book.id %}"> <i class="ti-trash"></i> Delete</a>
                                                    <a class="dropdown-item" href="{% url 'library:edit_book' book_id=book.id %}"> <i class="fas fa-edit"></i> Edit</a>
                                                    {% if book.book_pdf %}
                                                    <a class="dropdown-item" href="{{ book.book_pdf.url }}"> <i class="fa fa-download"></i> Download</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}