{% load static %}
<!--  -->
{% if request.user.is_administrator %}
<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="{% url 'accounts:admin_dashboard' %}"><img src="{% static '/img/logo_white.png' %}" alt=""></a>
        <a class="small_logo" href="{% url 'accounts:admin_dashboard' %}"><img src="{% static '/img/mini_logo.png' %}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/dashboard.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>User Manager</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'accounts:admin_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'accounts:user_profile' user_id=request.user.id %}">Profile</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/2.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Books Shelves</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'library:shelves' %}">All Shelves</a></li>
                <li><a href="{% url 'library:create_shelve' %}">Create Shelve</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/7.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Books</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'library:library_books' %}">All Books</a></li>
                <li><a href="{% url 'library:add_book' %}">Add New Book</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/4.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Users</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'accounts:view_student' %}">Users List</a></li>
                <li><a href="{% url 'accounts:student_registeration' %}">Add New User</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/6.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Activities</span>
                </div>
            </a>
            <ul>
                <li><a href="user_list.html">Resquested Books</a></li>
                <li><a href="user_list.html">Borrowed Books</a></li>
                <li><a href="add_new_user.html">Returned Books</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/9.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Settings</span>
                </div>
            </a>
            <ul>
                <li><a href="Basic_Elements.html">Administrators</a></li>
                <li><a href="Groups.html">Add Administrators</a></li>
                <li><a href="Max_Length.html">Permissions and Roles</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{% url 'accounts:logout' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/8.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Logout</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
{% elif request.user.is_student %}
<nav class="sidebar dark_sidebar">
    <div class="logo d-flex justify-content-between">
        <a class="large_logo" href="{% url 'accounts:student_dashboard' %}"><img src="{% static '/img/logo_white.png' %}" alt=""></a>
        <a class="small_logo" href="{% url 'accounts:student_dashboard' %}"><img src="{% static '/img/mini_logo.png' %}" alt=""></a>
        <div class="sidebar_close_icon d-lg-none">
            <i class="ti-close"></i>
        </div>
    </div>
    <ul id="sidebar_menu">
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/dashboard.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>User Manager</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'accounts:student_dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'accounts:user_profile' user_id=request.user.id %}">Profile</a></li>
                <li><a href="{% url 'accounts:library-books' %}">Library Books</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/2.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Read Books</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'accounts:my-read-books' %}">All Read Books</a></li>
                <li><a href="{% url 'accounts:my-read-books-category' %}">Read Books Category</a></li>
            </ul>
        </li>
        <li class="">
            <a class="has-arrow" href="#" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/6.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Activities</span>
                </div>
            </a>
            <ul>
                <li><a href="{% url 'accounts:my-requested-books' %}">Resquested Books</a></li>
                <li><a href="{% url 'accounts:my-borrowed-books' %}">My Borrowed Books</a></li>
                <li><a href="{% url 'accounts:my-returned-books' %}">My Returned Books</a></li>
            </ul>
        </li>
        <li class="">
            <a href="{% url 'accounts:logout' %}" aria-expanded="false">
                <div class="nav_icon_small">
                    <img src="{% static '/img/menu-icon/8.svg' %}" alt="">
                </div>
                <div class="nav_title">
                    <span>Logout</span>
                </div>
            </a>
        </li>
    </ul>
</nav>
{% endif %}