{% load static %}
<!--  -->
{% if request.user.is_authenticated %}
<div class="container-fluid no-gutters sticky-top">
    <div class="row">
        <div class="col-lg-12 p-0 ">
            <div class="header_iner d-flex justify-content-between align-items-center">
                <div class="sidebar_icon d-lg-none">
                    <i class="ti-menu"></i>
                </div>
                <div class="line_icon open_miniSide d-none d-lg-block">
                    <img src="{% static '/img/line_img.png' %}" alt="">
                </div>
                <div class="serach_field-area d-flex align-items-center">
                    <div class="search_inner">
                        <form action="#">
                            <div class="search_field">
                                <input type="text" placeholder="Search">
                            </div>
                            <button type="submit"> <img src="{% static '/img/icon/icon_search.svg' %}" alt=""> </button>
                        </form>
                    </div>
                </div>
                <div class="header_right d-flex justify-content-between align-items-center">
                    <div class="profile_info">
                        <img {% if request.user.profile_picture %} src="{{ request.user.profile_picture.url}}" {% else %} src="{% static '/img/client_img.png'%}" {% endif %} alt="#">
                        <div class="profile_info_iner">
                            <div class="profile_author_name">
                                <p>{{request.user.username|upper}}</p>
                                <h5>{{request.user.full_name|upper}}</h5>
                            </div>
                            <div class="profile_info_details">
                                <a href="{% url 'accounts:user_profile' user_id=request.user.id %}">My Profile </a>
                                <a href="{% url 'accounts:logout' %}">Log Out </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}